{% extends "layout.html" %}
{% load static %}
{% load cart_tags %}


{% block page_content %}

<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                <h3 class="text-center mb-4">Cart</h3>
                <div class="container" id="cart-items-container">
                    {% user_carts request as carts %}
                    <!-- Cart layout -->
                    {% include "cart/include/included_cart.html" %}                   
                     
                    {% if carts %}                   
                        <a class="btn btn-dark" href="{% url "orders:create_order" %}">
                            Order
                        </a>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}