{% extends "main/layout.html" %}
{% load static %}

    {% block css %}
        <link rel="stylesheet" href="{% static "files/css/my_footer_css.css"%}">
        <title>Handmade - Home</title>
    {% endblock %}

    {% block page_content %}
        <div class="col-lg-10">
            <h1 class="mt-5 pt-5"><strong>Shop of handmade products</strong></h1>
        </div>
    {% endblock %}

    {% block footer %}
        <footer class="py-4 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy;Andrii Borko</p>
            </div>
        </footer>
    {% endblock %}
