{% extends "layout.html" %}
{% load static %}

    {% block head %}
        <link rel="stylesheet" href="{% static "files/css/my_footer_css.css"%}">
        <title>Handmade - Home</title>
    {% endblock %}

    {% block modal_cart %}
    {% include "includes/cart_button.html" %}
    {% endblock  %}

    {% block page_content %}
        <div class="col-lg-10">
            <h1 class="mt-5 pt-5" style="color: #d45c5e;"><strong>Shop of happiness</strong></h1>
        </div>
    {% endblock %}

    {% block footer %}
        <footer class="py-4 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy;Andrii Borko</p>
                
            </div>
        </footer>
    {% endblock %}
